ion-header {
  display: none;
}

ion-content {
  --background: #F1FAFB;

  ion-img {
    width: 304px;
    height: 71px;
    margin: 40px 60px 0 3%;
  }.top_text {
    border-radius: 10px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    margin-left: 5.2%;
    margin-right: 5%;
    align-items: center;
    p {
      color: #4A4A4A;
      font-size: 42px;
      font-weight: 600;
      text-transform: capitalize;
    }.btn {
      .exit_btn {
        border-radius: 10px;
        background: #329D00;
        text-transform: none;
        height: 64px;
        margin-right: 10px;
        color: #FFF;
        font-size: 24px;
        font-weight: 600;
      }.log_out {
        border-radius: 10px;
        text-transform: none;
        background: #FF2626;
        height: 64px;
        color: #FFF;
        font-size: 24px;
        font-weight: 600;

      }
    }
  }.container {
    width: 90%;
    // height: 68%;
    margin: auto;
    display: flex;
   .left_container {
      width: 35%;
      // height: 100%;
      padding-left: 25px;
      border-radius: 20px 0px 0px 20px;
      background: linear-gradient(0deg,var(--secondary-color), var(--primary-color) 100%);
      box-shadow: 4px 0px 9px 0px rgba(0, 0, 0, 0.25);
      p {
        color: #FFF;
        font-size: 20px;
        font-weight: 500;
        text-transform: capitalize;
        margin-top: 30px;
      }

      h3 {
        color: #FFF;
        font-size: 40px;
        font-weight: 600;
        text-transform: capitalize;
      }

      .points {
        align-items: baseline;
        display: flex;

        .points_img {
          width: 34px;
          height: 34px;
          margin-top: 0px;
        }

        .coines {
          color: #FFF;
          font-size: 40px;
          font-weight: 600;
          text-transform: capitalize;
          margin-left: 15px;
        }
      }

      ion-button {
        margin-top: 10px;
        color: #222;
        font-size: 24px;
        font-weight: 500;

        border-radius: 10px;
        height: 45px;
        text-transform: none;
        --background: linear-gradient(180deg, #FFD101 0%, #FDB113 100%);
      }
    }

    .right_container {
      width: 65%;
      height: 100%;
      background: #FFF;
      padding-left: 31px;

      .billing_amount {
        color: #313131;
        font-size: 20px;
        font-weight: 500;

      }

      .input_box {
        border-radius: 6px;
        border: 1px solid rgba(5, 7, 120, 0.44);
        background: #FFF;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.20) inset;
        width: 288px;
        height: 48px;
        flex-shrink: 0;
        color: #454545;
        font-size: 33px;
        font-weight: 600;

      }

      .eraned_reward {
        color: #000;
        font-size: 20px;
        font-weight: 500;

      }

      .availbale_offer {
        color: #313131;
        font-size: 22px;
        font-weight: 600;

        margin-top: 49px;
      }

      swiper-container {}

      swiper-slide {
        display: contents;

        .card-container {


          .ion_card {
            width: 215px;
            height: 186px;
            border-radius: 10px;
            background: #F5F5F5;
            margin-left: 7px;
            box-shadow: 0px 0px 12px 0px rgba(29, 99, 183, 0.36);


            .ion_card_header {
              border-radius: 5px;
              height: 37px;
              background: linear-gradient(180deg, #FFD200 0%, #FCAA17 100%);
              display: flex;
              justify-content: center;
              align-items: center;

              .header_imagebackgound {
                background: white;
                border-radius: 50%;

                .header_image {
                  width: 34px;
                  height: 26px;

                }
              }
            }

            .ion-card-content {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 28px; .text {
                color: #000;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
              }

              .card_text {
                display: flex;
                align-items: center;
                padding: 12px;

                .content_image {
                  width: 30px;
                  height: 30px;
                  display: table;
                  margin: auto;

                }
               .coines {
                  color: #454545;
                  font-family: Montserrat;
                  font-size: 30px;
                  font-style: normal;
                  font-weight: 600;

                  padding-left: 10px;
                }
              }
            }
           }
        }
      }.rigth_arrow {
        float: left;
        width: 36px;
        height: 36px;
        z-index: 999;
        margin-top: 12%;
      }.left_arrow {
        float: right;
        width: 36px;
        height: 36px;
        z-index: 999;
        margin-top: 12%;
      }

      .bottom_text {
        display: flex;
        
        .Submit_btn {
          color: #FFF;
          font-size: 24px;
          font-weight: 600;
          border-radius: 10px;
          --background: linear-gradient(0deg,var(--secondary-color) 0%, var(--primary-color) 100%);
          text-transform: none;
          height: 60px;
          width: 16rem;
        }.Cancel_btn {
          color: #FFF;
          font-size: 24px;
          font-weight: 600;
          border-radius: 10px;
          --background: #FF2626;
          text-transform: none;
          height: 54px;
          width: 16rem;
          margin-left: 4%;
        }

        .waiting_text {
          color: #009D19;
          font-size: 16px;
          font-weight: 600;
          margin-left: 39px;
          margin-top: 23px;
        }
      }


    }

  }

  .user_not_found {
    margin-top: 4rem;

    h3 {
      color: #1E68BF;
      font-size: 64px;
      font-weight: 700;

      text-align: center;
    }

    .order_call_btn {
      text-align: center;
      --border-radius: 10px;
      --background: linear-gradient(180deg, #FFCC03 0%, #FDB212 100%);
      color: #222;
      font-size: 24px;
      font-weight: 600;
      text-transform: none;
      height: 65px;
      display: table;
      margin: auto;
      margin-top: 5rem;
    }
  }
  .selectedOffer {
    border: 4px solid #1D63B7; 
  }
  .elseClass {
    border: 4px solid #ff2f00; 
  }
  .redeemitem{
    background-color: #00ff65;
  }
}
